header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff4d;

  h1 {
    color: #06A761;
    font: bold 3vw "Inter", sans-serif;
  }

  img {
    margin-top: 1vw;
    height: 12vw;
    width: 12vw;
  }


  @media (max-width: 1024px) {
    margin-top: 3vh;
    margin-bottom: 10vh;

    h1 {
      font-size: 7vw;
    }

    img {
      height: 30vw;
      width: 30vw;
    }
  }

  @media (max-width: 480px) {
    margin-top: 1vh;
    margin-bottom: 10vh;

    h1 {
      font-size: 10vw;
    }

    img {
      height: 40vw;
      width: 40vw;
    }
  }
}
