# compiled output
backend/dist
frontend/dist
backend/node_modules
frontend/node_modules
backend/build
frontend/build

# Logs
backend/logs
frontend/logs
backend/*.log
frontend/*.log
backend/npm-debug.log*
frontend/npm-debug.log*
backend/pnpm-debug.log*
frontend/pnpm-debug.log*
backend/yarn-debug.log*
frontend/yarn-debug.log*
backend/yarn-error.log*
frontend/yarn-error.log*
backend/lerna-debug.log*
frontend/lerna-debug.log*

# OS
backend/.DS_Store
frontend/.DS_Store

# Tests
backend/coverage
frontend/coverage
backend/.nyc_output
frontend/.nyc_output

# IDEs and editors
backend/.idea
frontend/.idea
backend/.project
frontend/.project
backend/.classpath
frontend/.classpath
backend/.c9/
frontend/.c9/
backend/*.launch
frontend/*.launch
backend/.settings/
frontend/.settings/
backend/*.sublime-workspace
frontend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
frontend/.vscode/*
backend/!.vscode/settings.json
frontend/!.vscode/settings.json
backend/!.vscode/tasks.json
frontend/!.vscode/tasks.json
backend/!.vscode/launch.json
frontend/!.vscode/launch.json
backend/!.vscode/extensions.json
frontend/!.vscode/extensions.json

# dotenv environment variable files
backend/.env
frontend/.env
backend/.env.development.local
frontend/.env.development.local
backend/.env.test.local
frontend/.env.test.local
backend/.env.production.local
frontend/.env.production.local
backend/.env.local
frontend/.env.local

# temp directory
backend/.temp
frontend/.temp
backend/.tmp
frontend/.tmp

# Runtime data
backend/pids
frontend/pids
backend/*.pid
frontend/*.pid
backend/*.seed
frontend/*.seed
backend/*.pid.lock
frontend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# next.js
frontend/.next