DATABASE_URL= "postgresql://[usuário]:[senha]@[host]:[porta]/[nome_do_banco]?schema=public"
DATABASE_URL_READ= "postgresql://[usuário]:[senha]@[host]:[porta]/[nome_do_banco]?schema=public"
DATABASE_URL_WRITE= "postgresql://[usuário]:[senha]@[host]:[porta]/[nome_do_banco]?schema=public"
DATABASE_URL_DELETE= "postgresql://[usuário]:[senha]@[host]:[porta]/[nome_do_banco]?schema=public"
JWT_SECRET=
JWT_REFRESH_SECRET=
