@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
header {
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
    color: #06A761;
    font: bold 7vw "Inter", sans-serif;
  }

  img {
    margin-top: 20px;
    height: 90px;
    width: 90px;
  }
}
