.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  width: 80vw;
  height: 30vh;
  margin-top: 10vh;
  background-color: #ffffff27;
  backdrop-filter: blur(2px);

  @media (min-width: 1024px) {
    margin-top: 0.5vh;
    width: 30vw;
    height: 40vh;
  }

  label {
    margin-bottom: -2.5vh;
    margin-left: 3vw;
    font-size: 2.5rem;

    @media (min-width: 600px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      margin-left: 1vw;
      font-size: 1.2vw;
    }
  }

  input {
    padding: 1vh;
    width: 80vw;
    height: 4vh;
    font-size: 2.5rem;
    text-indent: 3vw;
    border: none;
    border-radius: 20vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff00;
    backdrop-filter: blur(5px);

    @media (min-width: 600px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 1vw;
      text-indent: 0.7vw;
      height: 5vh;
      width: 30vw;

    }
  }
}

.forgot-password {
  display: flex;
  justify-content: flex-start;
  margin-left: 3vw;

  @media (min-width: 1024px) {
    margin-left: 1vw;
    margin-top: -0.8vw;
  }

  span,
  a {
    font-size: 2rem;
    color: #c48b00;

    @media (min-width: 600px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.2vw;
    }
  }

  a {
    text-decoration: none;
    color: #976cfa;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  margin-top: 2vh;
  font-size: 2rem;
  color: #ffff;
  background-color: #c48b00;
  border-radius: 20vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  cursor: pointer;

  @media (min-width: 600px) {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: auto;
    width: 80vw;
    height: 10vh;
    margin-left: 1.6vw;
  }

  @media (min-width: 1024px) {
    font-size: 1.2vw;
    width: 30vw;
    height: 5vh;
    margin-left: 0.3vw;
  }
}
